<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>

    </script>

</head>
<body>

<form action="/foodInsert" method="post">

    이름 <input type="text" name="name" required id="name">
    <br/>
    주소 <input type="text" name="addr" required id="addr">
    <br/>
    분류 <input type="text" name="type" required id="type">
    <br/>
    대표메뉴 <input type="text" name="recommend" required id="recommend">
    <br/>

    <input type="submit" value="입력 완료">
</form>

</body>
</html>